{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>MY NAME IS FUTSUM HALLEFOM</p>
        <p>PROFESSIONAL WEB DEVELOPER,PYTHON ENGINER,DEGREE IN MACHINE LEARNING AND DATA SCIENCE</p>
        <p>I AM DEDICATED AND PASSIONATE PYTHONE DEVELOPER,IF YOU WANT ANY THING YOU CAN CONTACT ME IN THE CONATACTS PAGE,LET'S GROW TOGETHER</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}